* {box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;}

.greeting {
    background-color:black;
    color:white;
    font-size: 36px;
    margin: 0px;
    padding: 6px 24px;
    text-transform: uppercase;

}
.menu {background-color: black;
    margin:0px;
    overflow: hidden;}

.menu a{font:menu;
    font-size:20px;
    letter-spacing: 1px;
    text-decoration: none;
    float:left;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 16px 24px;
}

.menu a:hover {
    background-color:white;
    color:black;
}

.background .content{
    overflow:hidden;
    background-size:cover;
    background-position:center;
    background-image:url(/assets/table.jpg);
}
.content {margin: 25px;
    padding: 40px;}
