* {box-sizing: border-box;}


.navbar {display:flex;
    justify-content:right}

.contact {
    text:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:aqua
}