* {box-sizing: border-box;}

h1,h2,h3,h4,h5,h6 {font-weight: 400;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100px;
    color: slategray}

.name {margin:0px;
    padding:20px;
    border: 2px dashed lightgreen;
    align-items: center;}

.intro {display:flex;
justify-content: center;
margin-bottom:30px;
}

.navbar {display:flex;
    justify-content:right}

.contact {
    text:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:aqua
}